@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.tiptap {
  width: 100%;
}

.tiptap .ProseMirror {
  margin-top: 10px;
  border: 1px solid #515964;
  border-radius: 10px;

  padding: 20px;

  width: 100%;
  min-height: 70vh;
  max-height: 80vh;

  overflow-y: auto;
  overflow-x: hidden;

  outline: none;

  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-word;

  box-sizing: border-box;
}
/* Basic editor styles */

/* List styles */
.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  /* margin-top: 2.5rem; */
  text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5px;
  margin-bottom: 1.5px;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem;
}

.tiptap h3 {
  font-size: 1.1rem;
}
